# Practice
I'll be practicing some basic skills in this document, as a way to maintain my fluency with logical thinking and Python in general.  As a woman new to coding, I'm hoping this review will help me feel more confident in my upcoming technical interviews.

In [1]:
# Import statements
import pandas as pd
import numpy as np
from numpy import random
from numpy.random import choice
from collections import Counter as count
import sqlite3
import math

### Day 1:

Return all pairs that sum to our target

In [ ]:
def twoSum(nums, target):
  nines=[]
  for n in nums:
    for self in nums:
      if self+n==target:
        nines.append(self)
        nines.append(n)
  return nines

In [ ]:
nums = [2,7,11,15,1,6,9,0]
target = 9

twoSum(nums, target)

[7, 2, 2, 7, 0, 9, 9, 0]

### Day 2:
Given a year, return the century it is in. The first century spans from the year 1 up to and including the year 100, the second - from the year 101 up to and including the year 200, etc.

In [ ]:
# Calculate the century by dividing the year by 100 and rounding up

def find_century(year):
    century = (year - 1) // 100 + 1
    return century

# Example usage
year = 2023
result = find_century(year)
print(f"The year {year} is in the {result} century.")

The year 2023 is in the 21 century.

### Day 3
Given the string, check if it is a palindrome.

In [ ]:
def solution(inputString):
  if inputString == inputString[::-1]:
    return print('True')
  else:
    return print('False')

# Example usage
pali = "aabaa"
result = solution(pali)

True

## Day 3

How would you simulate a loaded die, where 6 comes up 50% of the time and 1-5 comes up 10%?

In essence, this question is asking us to show:
*Probability = element_weight/ sum of all weights*

There are ways to do this manually, as below with Numpy weights, but I'd like to write a function that shows the probability for a list of objects, where one of those objects will come up 50% of the time. so that we can operate with more complex numbers, rather than just showing 6= 0.5, 5= 0.1, 4= 0.1, 3=0.1, 2= 0.1, 1= .1

In [ ]:
elements = (1,2,3,4,5,6)
weights = [0.1, 0.1, 0.1, 0.1, 0.1, 0.5]

outcomes = []
for i in range(1000):
    outcomes.append(choice(elements,
                          p=weights,
                          replace=True))


print("Prob of 6:", outcomes.count(6)/len(outcomes))
print("Prob of 5:", outcomes.count(5)/len(outcomes))

Prob of 6: 0.507
Prob of 5: 0.092

## Day 4

Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.

In [2]:
def findMedianSortedArrays(nums1, nums2):
    # Merge the two sorted arrays
    merged = sorted(nums1 + nums2)

    # Find the length of the merged array
    total_length = len(merged)

    # Check if the total length is odd or even
    if total_length % 2 == 1:
        # If odd, return the middle element
        return merged[total_length // 2]
    else:
        # If even, return the average of the two middle elements
        mid1 = total_length // 2
        mid2 = mid1 - 1
        return (merged[mid1] + merged[mid2]) / 2

# Example usage:
nums1 = [1, 3]
nums2 = [2]
result = findMedianSortedArrays(nums1, nums2)
print(result)

2

## Day 5
What's the probability that two people in a room have the same birthday?

Most solutions to this problem involve simulating a bunch a birthdays.  I'd like to see if I can set up function to calcuclate the probability for any number of people first, and then add on a simulator to compare results.

In [3]:
 def birthday_match(n_people):
    factorial=(n_people*(n_people-1))/2
    prob=(364/365)**factorial
    return prob

In [4]:
# should return 4995
birthday_match(23)

0.4995228459634194

## Day 6 
Although I like the logic challanges, this week I'll focus on real world questions:

You’re a junior developer in an online fashion store. The sales department provides you with sales data and wants to determine which items in a particular category were the most profitable last month, so they can prioritize stocking them.

Given that each sale is represented as a dictionary with keys: 'item_name', 'category', 'price', 'cost', and 'units_sold', you are tasked with finding the item name with the highest profit (where profit is calculated as (price - cost) * units_sold) in the 'Dresses' category.

In [1]:
sales_data = [
    {"item_name": "Floral Dress", "category": "Dresses", "price": 50, "cost": 20, "units_sold": 150},
    {"item_name": "Leather Jacket", "category": "Jackets", "price": 120, "cost": 60, "units_sold": 80},
    {"item_name": "Evening Dress", "category": "Dresses", "price": 80, "cost": 40, "units_sold": 100},
    {"item_name": "Casual Shoes", "category": "Shoes", "price": 60, "cost": 30, "units_sold": 200}
]

In [2]:
profits = []
for sale in sales_data:
    if sale['category'] == 'Dresses':
        profit = (sale['price'] - sale['cost']) * sale['units_sold']
        profits.append((sale['item_name'], profit))
most_profitable = max(profits, key=lambda x: x[1])
print(most_profitable[0])

Floral Dress

### Day 7

*How would you find the number that appears in a list more than once?*
There are several ways to approach this problem.  We could use the built in numpy unique function to convert our list to an array and 

As a set can only contain unique values, we could utilize that to keep track of unique values and commit any duplicates to list.

In [2]:
test_numbers= (1,2,3,4,5,6,7,8,9,2,1)

In [3]:
def find_repeat(numbs):
    x= np.array(numbs)
    unq, count = np.unique(x, return_counts=True)
    num= np.unique(count)
    return num

In [4]:
find_repeat(test_numbers)

array([1, 2])

In [7]:
repeats=[x for x in test_numbers if test_numbers.count(x) >= 2]
repeats

[1, 2, 2, 1]

### Day 8

Count the number of capital letters in a file. 

Assume you have an open file handle object, such as:

```
with open(SOME_LARGE_FILE) as fh:
   count =  # your code here
```

In [10]:
message= ("This is a small sample. We are trying to test.  Let's see if it works")

def capital_counter(corpus):
    for letter in corpus:
        count= sum(1 for c in message if c.isupper())
    return count

In [11]:
capital_counter(message)

3

### Day 9
We want to build a matrix of values, like a multiplication table. The output we want in this case should be a list of lists, like:

 [[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [17]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
matrix = np.array(list1).reshape(3,3)
matrix = matrix.tolist()
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Day 10

The aim of this challenge is, given a dictionary of people's online status, to count the number of people who are online.

For example, consider the following dictionary:

statuses = {
    "Alice": "online",
    "Bob": "offline",
    "Eve": "online",
}


In this case, the number of people online is 2.

Write a function named online_count that takes one parameter. The parameter is a dictionary that maps from strings of names to the string "online" or "offline", as seen above.

Your function should return the number of people who are online.

In [17]:
def online_count(status):
    counter=0
    for s in status.values():
        if s== "online":
            counter +=1
    return counter

In [14]:
statuses = { "Alice": "online", "Bob": "offline", "Eve": "online" }

online_count(statuses)

2

In [16]:
def online_count2(status):
    return sum(s == 'online' for s in status.values())

In [18]:
online_count2(statuses)

2

### Day 11

Double letters:
The goal of this challenge is to analyze a string to check if it contains two of the same letter in a row. For example, the string "hello" has l twice in a row, while the string "nono" does not have two identical letters in a row.

Define a function named double_letters that takes a single parameter. The parameter is a string. Your function must return True if there are two identical letters in a row in the string, and False otherwise.

Takken from: [Python Challanges](https://pythonprinciples.com/challenges/)

In [15]:
def double_letters(word):
    for w in range(len(word)-1):
        if word[w] == word[w+1]:
            return True
    
    return False

In [16]:
double_letters("hello")

True

In [17]:
double_letters("Yesitworked!")

False

### Day 12

Counting syllables
Define a function named count that takes a single parameter. The parameter is a string. The string will contain a single word divided into syllables by hyphens, such as these:

"ho-tel"
"cat"
"met-a-phor"
"ter-min-a-tor"
Your function should count the number of syllables and return it.

For example, the call count("ho-tel") should return 2.

In [23]:
def syllable_counter(word):
    h=1
    for hyphen in range(len(word)-1):
        if word[hyphen] == "-":
            h +=1
    return h

In [24]:
w="ter-min-a-tor"

In [25]:
syllable_counter(w)

4

### Day 14


Min-maxing:


Define a function named largest_difference that takes a list of numbers as its only parameter.

Your function should compute and return the difference between the largest and smallest number in the list.

For example, the call largest_difference([1, 2, 3]) should return 2 because 3 - 1 is 2.

You may assume that no numbers are smaller or larger than -100 and 100.

In [26]:
def largest_difference(numbers):
    for n in numbers:
        maximum= max(numbers)
        minimum= min(numbers)
        return maximum-minimum

In [27]:
numbs= ([1, 2, 3])
largest_difference(numbs)

2

## Week 3

After a week off for my winter break, I thought it might be good to jump back in with some basic data cleaning and visualization.  While the daily challanges have kept me engaged, I'm looking forward to reviewing some of the analytical skills and statistical knowledge of a slightly larger project.  

For the next month or so I'll be working on a competition dataset hosted by Kaggle.  The goal is to predict the quality of a writing sample based on the keyboard input.  Although the competition will be over in a couple of days, as a former teacher it's of personal interest to me, and seems like a fun project to tackle.  The data is comprised about 5000 logs of user inputs, such as keystrokes and mouse clicks, taken during the composition of an essay. Each essay was scored on a scale of 0 to 6. 

You can find more information about the competition dataset on [Kaggle](https://www.kaggle.com/competitions/linking-writing-processes-to-writing-quality/data)

__File and Field Information__

<u>train_logs.csv:</u> Input logs to be used as training data. To prevent reproduction of the essay text, all alphanumeric character inputs have been replaced with the "anonymous" character q; punctuation and other special characters have not been anonymized.

_id_ - The unique ID of the essay

_event_id_ - The index of the event, ordered chronologically

_down_time_ - The time of the down event in milliseconds

_up_time_ - The time of the up event in milliseconds

_action_time_ - The duration of the event (the difference between down_time and up_time)

_activity_ - The category of activity which the event belongs to

_Nonproduction_ - The event does not alter the text in any way

_Input_ - The event adds text to the essay

_Remove/Cut_ - The event removes text from the essay

_Paste_ - The event changes the text through a paste input

_Replace_ - The event replaces a section of text with another string
Move From [x1, y1] To [x2, y2] - The event moves a section of text spanning character index x1, y1 to a new location x2, y2

_down_event_ - The name of the event when the key/mouse is pressed

_up_event_ - The name of the event when the key/mouse is released

_text_change_ - The text that changed as a result of the event (if any)

_cursor_position_ - The character index of the text cursor after the event

_word_count_ - The word count of the essay after the event


Note that there may be events in the test set that do not occur in the training set. Your solution should be robust to unseen events.

We'll begin by importing our files and doing some preliminary investigation.

In [3]:
y = pd.read_csv('Files/train_scores.csv')

In [11]:
y.head()

         id  score
0  001519c8    3.5
1  0022f953    3.5
2  0042269b    6.0
3  0059420b    2.0
4  0075873a    4.0

In [4]:
X = pd.read_csv('Files/train_logs.csv')

In [8]:
X.head(20)

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1
5,001519c8,6,107296,107400,104,Input,q,q,q,3,1
6,001519c8,7,107469,107596,127,Input,q,q,q,4,1
7,001519c8,8,107659,107766,107,Input,q,q,q,5,1
8,001519c8,9,107743,107852,109,Input,q,q,q,6,1
9,001519c8,10,107840,107978,138,Input,Space,Space,,7,1
10,001519c8,11,108008,108195,187,Input,q,q,q,8,2
11,001519c8,12,108104,108259,155,Input,q,q,q,9,2
12,001519c8,13,108229,108370,141,Input,q,q,q,10,2
13,001519c8,14,108341,108486,145,Input,Space,Space,,11,2
14,001519c8,15,109296,109438,142,Input,q,q,q,12,3
15,001519c8,16,109423,109559,136,Input,q,q,q,13,3
16,001519c8,17,109560,109729,169,Input,q,q,q,14,3
17,001519c8,18,109826,109994,168,Input,q,q,q,15,3
18,001519c8,19,110398,110516,118,Remove/Cut,Backspace,Backspace,q,14,3
19,001519c8,20,110595,110751,156,Input,q,q,q,15,3

In [8]:
len(X)

8405898

In [10]:
len(X['id'].unique())

2471

In [12]:
train= X.merge(y, on='id', suffixes=(None, None))

In [14]:
train.head()

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,score
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0,3.5
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0,3.5
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1,3.5
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1,3.5

In [15]:
train['down_event'].value_counts()

q             5365319
Space         1207128
Backspace      964089
Shift          334227
ArrowRight     121338
               ...
I                   1
¡                   1
C                   1
                   1
j                   1
Name: down_event, Length: 131, dtype: int64

In [16]:
len(train['down_event'].unique())

131